html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    font-size: 15px;
    line-height: 24px;

    * {
        box-sizing: border-box;
    }

    .button {
        // min-width: 70px;
        padding: 0 10px;
        // font-size: 1.5rem;
        display: inline-block;
        border: 1px solid #333;
        text-align: center;
        justify-content: center;
    }
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;

    @scrollHack: 40px;
    @barHeight: 20px;
    @controlHeight: 40px + @scrollHack;

    &.show {
        display: block;
    }

    .content {
        // height: 100%;
        // padding-bottom: @controlHeight + @barHeight;
        // padding-top: @scrollHack;
        padding: 10px;
        padding-right: 15px;

        @import url(common/pagination/pagination.less);
    }

    .current-info {
        height: 20px;
        padding: 0 20px;
        line-height: 20px;
        font-size: 12px;
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
    }

    @import url(common/bar/bar.less);


    .control {
        height: 50px;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 5px;


        .left-box {
            float: left;
        }

        .right-box {
            float: right;
        }

        .button {
            line-height: 40px;
            height: 100%;
            margin: 0 10px;
        }
    }
}

.article {
    .content {
        padding: 10px 50px 10px 10px;

        .content-inner {
            >p {
                font-family: "STSong", STsong, serif, "STKai", "STHeiti", "STYuan", sans-serif;
                margin: 0;
                text-indent: 2em;
            }
        }
    }

    .control {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;

        .left-box {
            display: flex;
            gap: 10px;
        }

        .button {
            background-color: #fff;
            border: 1px solid #ddd;
            cursor: pointer;
            margin: 0 5px;
            padding: 0 8px;
            line-height: 30px;

            &:hover {
                background-color: #e8e8e8;
            }
        }

        .current-info {
            padding: 0px;
            color: #000;
            font-size: 14px;
            bottom: auto;
            width: auto;
            position: absolute;
            /* 防止文字换行 */
            white-space: nowrap;
            background-color: #fff;
            border-radius: 10px;
            font-size: 15px;
        }

        .bar {
            width: 50px;
            height: 20px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 10px;
            position: absolute;
            right: 10px;
            overflow: hidden;
            bottom: auto;
        }

        .bar-progress {
            display: none;
            height: 100%;
            // background-color: #000;
            float: left;
        }

        .bar-text {
            color: black;
            position: absolute;
            line-height: 20px;
            font-size: 15px;
        }
    }
}



.catalogue {
    .article-list {
        font-size: 0;

        .article-item {
            display: inline-block;
            width: 50%;
            font-size: 40px;
            // line-height: 80px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
            color: #999;
            padding: 0 10px;

            &.current {
                color: #fff !important;
                background-color: #000;
            }

            &.cached {
                color: #000;
                font-weight: bold;
            }
        }
    }
}

.bookshelf {

    .book-list {
        font-size: 0;

        .book-item {
            display: inline-block;
            width: 50%;
            padding: 10px;
            min-height: 200px;
            vertical-align: middle;
            font-size: 12px;
            line-height: 36px;
            margin: 0;

            .book-cover {
                display: inline-block;
                height: 100%;
                border: 1px solid #ccc;
                background-size: 100%;
                background-position: center;
                vertical-align: middle;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .book-info {
                display: inline-block;
                height: 100%;
                padding: 10px;
                vertical-align: middle;

                >div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:first-child {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.config {
    .content {
        padding: 20px 40px;
        font-size: 30px;
        line-height: 40px;
        height: 100%;

        .button {
            margin-left: 10px;
        }

        .right {
            float: right;
        }
    }

    .form-item {
        padding: 10px 0;

        .label {


            &::after {
                content: "：";
            }
        }

        .text {
            line-height: 60px;

            input {
                font-size: 30px;
                line-height: 40px;

                width: 70%;
            }
        }

        &.display {
            .text {
                height: 500px;
                border: 1px solid #333;
                padding: 10px;
                line-height: 20px;
                font-size: 16px;
                overflow: hidden;

                p {
                    margin: 0;
                    text-indent: 2em;
                }
            }
        }

    }
}

.modal-box {
    @import url(common/modal/modal.less);
}

.message-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @import url(common/message/message.less);
}

.vertical-controls {
    position: fixed;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 10;
    padding-left: 10px;

    .button {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.489);
        // border: 1px solid #333;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #333;
    }
}

.function-controls {
    position: fixed;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
    padding-left: 10px;

    .button {
        padding: 5px 5px;
        background: rgba(255, 255, 255, 0.489);
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        width: 45px;

        &:hover {
            background-color: #e8e8e8;
        }
    }
}